body {
    font-family: 'IM Fell English', serif;
    font-color: #333;
    font-size:12pt;
    margin:0 0 35px 0;
    padding:0;
}

#home, .footer, #over {
    margin-left:10px;
}

#over {
    margin-top:5px;
    margin-bottom: 15px;
}

h1, h2 {
    font-family: 'Marvel', sans-serif;
    font-weight:700;
    font-size:16pt;
    font-weight:bold;
}


ul {
    list-style: none;
    margin: 0;
}

li {
    margin: 10px 0;
}

li span {
    font-family: "Courier New", monospace;
    color: #333;
}

a {
    font-family: 'Marvel', sans-serif;
    margin:2px;
    padding:5px;
    background: #333;
    color: #FFF;
    text-decoration:none;
}

a:hover {
    /*background: #FFF;*/
    /*color: #333;*/
    text-decoration:underline;
}

a.boastful_link {
    background: transparent;
}

#comments, #post, #related {
    width: 800px;
    margin-left:10px;
}
.highlight {
    font-size:11pt;
    background-color: #002B36;
    overflow:auto;
    padding:5px;
    color:#839496;
}
strong {
    font-weight:700;
}

#post h1 {
    font-family: 'Marvel', sans-serif;
    font-weight:700;
    font-size:20pt;
    display:inline;
}
#post p {
    color: #444;
}

.date {
    color:#666;
}

