body {
    font-family: 'IM Fell English', serif;
    font-color: #000;
    font-size:12pt;
    margin:0px;
    padding:0px;
}

#home, .footer, #over {
    margin-left:10px;
}

#over {
    margin-top:5px;
    margin-bottom: 15px;
}

h1, h2 {
    font-family: 'Marvel', sans-serif;
    font-weight:700;
    font-size:16pt;
    font-weight:bold;
}


ul {
    list-style: none;
    margin: 0;
}

li {
    margin: 10px 0;
}

li span {
    font-family: "Courier New", monospace;
    color: #333;
}

#post a, #related a, .footer a, #over a, #home a, a.dsq-subscribe-email, a.dsq-subscribe-rss, a.dsq-brlink, #dsq-account-dropdown a{
    font-family: 'Marvel', sans-serif;
    margin:2px;
    padding:5px;
    background: #000;
    color: #FFF;
    text-decoration:none;
}

#post a:hover, #related a:hover, .footer a:hover, #over a:hover, #home a:hover, a.dsq-subscribe-email:hover, a.dsq-subscribe-rss:hover, a.dsq-brlink:hover, #dsq-account-dropdown a:hover {
    /*background: #FFF;*/
    /*color: #000;*/
    text-decoration:underline;
}

#comments, #post, #related {
    width: 800px;
    margin-left:10px;
}
.highlight {
    background-color: #002B36;
    overflow:auto;
    padding:5px;
    color:#839496;
}
strong {
    font-weight:700;
}
