@import 'GGS';
@import 'mixins';

@backgroundColor:  hsl(40, 30%, 98%);
@fontFamily:       'Georgia', 'Baskerville', 'Times New Roman', 'Serif';
@proseColor:       hsl(22, 21%, 22%);
@headingColor:     hsl(22, 21%, 32%);
@black:            #333;
@white:            #FFF;

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Main layout components
body {
    font-family: @fontFamily;
    padding: 0 0 50px 0;
    margin: 0;
    background: @backgroundColor;
}

p {
    line-height: 1.55em;
    font-size: 1.4em;
    color: @proseColor;
    margin-bottom: 5px;
}

.headingDefaults {
    color: hsl(22, 21%, 32%);
    margin: .2em 0 .4em 0;

    small {
        font-size: .8em;
        color: lighten(desaturate(@headingColor, 10%), 30%);
    }
}

h1 {
    font-size: 3em;
    .headingDefaults;
}

h2 {
    font-size: 2.5em;
    .headingDefaults;
}

h3 {
    font-size: 2.5em;
    color: lighten(@headingColor, 20%);
    .headingDefaults;
}

h4 {
    margin: .7em 0 .5em 0;
    font-size: 2em;
    .headingDefaults;
}

h5 {
    margin: .7em 0 .5em 0;
    font-size: 2em;
    color: lighten(@headingColor, 20%);
    .headingDefaults;
}

header, nav, article, footer {
    .clearfix;
}

nav {
    ul {
        list-style:none;
        padding:0;
        margin:0;
        display:block;

        li {
            float:left;
            display:inline-block;
            padding: 10px 5px;
            margin: 0 5px 10px 5px;
            background: white;
            border-bottom: 4px solid @backgroundColor;

            a {
                color:@black;
                text-decoration: none;
                background: @white;
                font-weight:bold;
            }
            
            &:hover, &.active {
                border-bottom: 4px solid hsl(3, 99%, 50%);
                .transition;
                text-decoration: none;
            }
        }

    }
}


section ul {
    padding: 0 0 0 40px;
    li {
        a {
            text-decoration: none;
            color: darken(@proseColor, 20%);

            &:hover {
                color: lighten(@proseColor, 30%);
            }
        }
    }
}
