body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #333;
  padding: 40px;
}
#counties-infographic {
  position: relative;
  width: 647px;
  height: 638px;
}
#counties-infographic .pdcig-zip-search {
  width: 633px;
  background: #3f526c;
  height: 20px;
  color: #acd6e1;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 1px solid #526a8c;
  outline: 0;
  padding: 7px;
  font-size: 13px;
}
#counties-infographic .pdcig-zip-search:focus {
  border-bottom: 1px solid #5d82b4;
}
#counties-infographic .pdcig-panels {
  position: absolute;
  top: 36px;
  left: 0;
  height: 300;
  width: 645px;
  margin: 0;
  padding: 0;
}
#counties-infographic .pdcig-panel {
  width: 215px;
  height: 300px;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #3f526c;
  color: #acd6e1;
  top: 0;
}
#counties-infographic .pdcig-panel > input[type=text] {
  width: 201px;
  background: transparent;
  height: 20px;
  color: #acd6e1;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 1px solid #526a8c;
  outline: 0;
  padding: 7px;
  font-size: 13px;
}
#counties-infographic .pdcig-panel > input[type=text]:focus {
  border-bottom: 1px solid #5d82b4;
}
#counties-infographic .pdcig-panel .please-pick {
  color: #5b779c;
  position: absolute;
  top: 50%;
  left: 7px;
  width: 201px;
  height: 72px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin-top: -36px;
  font-style: italic;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  opacity: 1;
}
#counties-infographic .pdcig-panel .please-pick.ng-hide-add,
#counties-infographic .pdcig-panel .please-pick.ng-hide-remove {
  display: block!important;
}
#counties-infographic .pdcig-panel .please-pick.ng-hide {
  opacity: 0;
  left: 49px;
}
#counties-infographic .pdcig-panel > ul {
  list-style: none;
  margin: 0;
  padding: 7px 0 7px 0;
  height: 251px;
  overflow-x: hidden;
  overflow-y: auto;
}
#counties-infographic .pdcig-panel > ul li {
  background: #3f526c;
  padding: 7px;
  margin: 0;
  cursor: pointer;
  position: relative;
  color: #acd6e1;
  font-size: 13px;
}
#counties-infographic .pdcig-panel > ul li:hover,
#counties-infographic .pdcig-panel > ul li.active {
  background: #526a8c;
}
#counties-infographic .pdcig-panel > ul li.active:after {
  position: absolute;
  right: 7px;
  top: 6px;
  content: '×';
  display: block;
  font-size: 14px;
  line-height: 6px;
  width: 9px;
  height: 9px;
  padding: 4px;
  border-radius: 8px;
  background: #3f526c;
  color: #526a8c;
  font-weight: bold;
}
#counties-infographic .pdcig-panel .message {
  width: 201px;
  margin: 7px;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #acd6e1;
  text-align: center;
}
#counties-infographic .pdcig-panel.state-picker-panel {
  left: 0;
}
#counties-infographic .pdcig-panel.county-picker-panel {
  left: 216px;
}
#counties-infographic .pdcig-panel.county-info-panel {
  left: 432px;
}
#counties-infographic .county-risk-level {
  border-bottom: 1px solid #acd6e1;
  padding-bottom: 15px;
}
#counties-infographic .county-risk-gauge {
  padding-top: 8px;
}
#counties-infographic .county-risk-gauge,
#counties-infographic .county-risk-level {
  margin: 7px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
  text-align: center;
}
#counties-infographic .county-risk-gauge .actual-risk-gauge,
#counties-infographic .county-risk-level .actual-risk-gauge {
  margin-top: 16px;
  margin-bottom: 16px;
}
#counties-infographic .county-risk-gauge .message,
#counties-infographic .county-risk-level .message {
  margin: -7px 0;
}
#counties-infographic .county-risk-gauge.risk-na,
#counties-infographic .county-risk-level.risk-na {
  color: #acd6e1;
}
#counties-infographic .county-risk-gauge.risk-low,
#counties-infographic .county-risk-level.risk-low {
  color: #3bb03b;
}
#counties-infographic .county-risk-gauge.risk-medium,
#counties-infographic .county-risk-level.risk-medium {
  color: #c19d44;
}
#counties-infographic .county-risk-gauge.risk-high,
#counties-infographic .county-risk-level.risk-high {
  color: #b06a3b;
}
#counties-infographic .pdcig-map {
  position: absolute;
  width: 645px;
  height: 300px;
  top: 337px;
  overflow: hidden;
}
.background {
  fill: none;
  pointer-events: all;
}
.pdcig-states,
.pdcig-counties {
  fill: #aaa;
}
.pdcig-counties .county.active {
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.pdcig-counties .county.q0-9 {
  fill: #ffffcc;
}
.pdcig-counties .county.q1-9 {
  fill: #ffeda0;
}
.pdcig-counties .county.q2-9 {
  fill: #fed976;
}
.pdcig-counties .county.q3-9 {
  fill: #feb24c;
}
.pdcig-counties .county.q4-9 {
  fill: #fd8d3c;
}
.pdcig-counties .county.q5-9 {
  fill: #fc4e2a;
}
.pdcig-counties .county.q6-9 {
  fill: #e31a1c;
}
.pdcig-counties .county.q7-9 {
  fill: #bd0026;
}
.pdcig-counties .county.q8-9 {
  fill: #800026;
}
.pdcig-state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.pdcig-county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: .25px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.progress-meter .background {
  fill: #526a8c;
}
.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/*
#picker-container > div {

    height: 300px;
    width: 215px;

    background: #3F526C;

    color: #ACD6E1;

    left: 432px;

    .pct {
        margin: 7px;
        font-size: 36px;
        line-height: 36px;
        font-weight: 200;
        text-align: center;
        &.risk-na {
            color: #ACD6E1;
        }
        &.risk-low {
            color: #3BB03B;
        }
        &.risk-medium {
            color: #C19D44;
        }
        &.risk-high {
            color: #B06A3B;
        }
    }
    .grade {
        margin: 7px;
        &.risk-na {
            color: #ACD6E1;
        }
        &.risk-low {
            color: #3BB03B;
        }
        &.risk-medium {
            color: #C19D44;
        }
        &.risk-high {
            color: #B06A3B;
        }

        font-size: 36px;
        line-height: 36px;
        font-weight: 200;
        text-align: center;
    }
}

#picker-container > ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 7px 0 0 0;

    height: 300px;
    width: 215px;

    overflow-y: auto;
    overflow-x: hidden;

    background: #3F526C;


    > li {
        background: #3F526C;
        padding: 7px;
        margin: 0;
        cursor: pointer;

        color: #ACD6E1;
        font-size: 13px;

        &:hover, &.active {
            background: lighten(#3F526C, 10%);
        }
    }
}
*/
