<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h2 class="site-title">pthra.sh</h2>
        <ul id="menu">
            <li><a href="/">all posts</a></li>
            <li><a href="//github.com/pthrasher">github</a></li>
            <li><a href="//twitter.com/philipthrasher">twitter</a></li>
            <li><a href="//plus.google.com/100445970823815698924?rel=author" rel="author">g plus</a></li>
        </ul>
        <div class="content">
        {{ content }}
        </div>
    </body>
</html>

