<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/> 
    </head>
    <body lang="en">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="//github.com/pthrasher">github</a></li>
                <li><a href="//forrse.me/pthrasher">forrst</a></li>
                <li><a href="//twitter.com/philipthrasher">twitter</a></li>
                <li><a href="/resume.html">resumé</a></li>
            </ul>
        </nav>

        {{ content }}

        <script>
            var _gaq=[['_setAccount','UA-8502114-3'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
