---
layout: default
---
<div class="row">
    <div class="span16 columns spacer">
</div>
<div class="row">
<div class="span12 columns offset2">
    <div id="post">
        <h1>{{ page.title }} <small>{{ page.date | date_to_string }}</small></h1>
        </span><!-- a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
        href="http://pthrasher.github.com"></a -->
        {% if page.via %}
            <div>
                {{ content }}
            </div>
            <p class='meta'>(via <a href='{{ page.viaurl }}'>{{ page.via }}</a>)</p>
        {% else %}
            <div>
                {{ content }}
            </div>
        {% endif %}
    </div>

    <div id="comments">
        <h2>Critical Acclaim</h2>
        <ul class="unstyled">
            <li><div id="boastful"></div></li>
        </ul>
    </div>
    {% if page.hn %}
    <div id="related">
      <h2>Commentary</h2>
          Head over to the <a href="{{page.hckrnws}}">hacker news post</a> to discuss.
    </div>
    {% endif %}
    <div id="related">
      <h2>Related Posts</h2>
        {% for post in site.related_posts limit:3 %}
        <ul class="unstyled">
          <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
      </ul>
        {% endfor %}
    </div>

    <script type="text/javascript" charset="utf-8">
        $(function(){
            $("#boastful").boastful({
                empty_message: "No one's mentioned this page on Twitter yet. <a href=\"http://twitter.com?status=http://philipthrasher.com{{page.url}}\">You could be the first</a>.",
                location: "http://philipthrasher.com{{page.url}}"
            });
        });
    </script>
</div>
</div>
